    <!--NAV부분 입니다.. -->
    
    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <nav class="container mx-4">
             <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="https://crud-practice-donghan.c9users.io">Board</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/list/">list <span class="sr-only">(current)</span></a>
              </li>
            </ul>
          </div>
        </nav>
        </nav>
        
        
     <% @view_list.each do |p| %>
     
     <div class ="container mt-5">
             <div class="card">
          <div class="card-header">
            게시글 <%=p.id %>
          </div>
          <div class="card-block">
            <h4 class="card-title"><a href="/show/<%=p.id%>"><%= p.title %></a></h4>
            <p class="card-text"><%= p.content %></p><br>
            <span style="font: italic bold;font-size: 10pt"><p class="card-text"><%= p.editor %></p></span><br>
          </div>
        </div>
        </div>
    <% end %>
        
        <!-- 글쓰기 부분입니다 -->
            <div class="container mt-3">
            <button type="button" class="btn btn-success"><a href="/new">글쓰기</a></button>
            </div>